* {
  box-sizing: border-box;
}

#outsideContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}
#insideContainer {
  height: 80%;
  width: 80%;
  background-color: red;
}
