/*   ####Pallette
##  pale-cream:  #f7ffe0
##  grey: #818d92
##  brown: #483d03
## sea-green: #9abd97
## pale-mint-green: #b6d7b9

  */


/** {
  outline: 1px solid grey;
}*/
body {
  background-color: #f7ffe0;
  color: #483d03;
}
header {
  background-color: #b6d7b9;
  width: 100%;
  height: 14vw;
}
.logo-container {
  width: 60%;
  float: left;
}
.slide-container {
  width: 30%;
  float: left;
}
.title-container {
  width: 100%;
  clear: both;
}
div>span {
  /*display: inline-block;*/
  text-align: center;
  width: 90%;
  /*margin-left: 3%;*/
  font: 5vw Georgia;
  /*margin-left: 2%;*/
  text-transform: capitalize;;
  text-decoration: none;
}
h1, p {
  width: 20%;
  margin: 0 auto;
}

.clearfix {
  clear: both;
}
#slides {
  position: relative;
  width: 13vw;
  height: 13vw;
  padding: 0px;
  margin: 0.5vw auto;
  list-style-type: none;

}
.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  font-size: 40px;
  /*padding: 10px;*/
  background: #808080;
  box-sizing: border-box;
  background: #333;
  color: #fff;

  -webkit-transition: opacity 4s;
  -moz-transition: opacity 4s;
  -o-transition: opacity 4s;
  transition: opacity 4s;
}
.showing {
  opacity: 1;
  z-index: 2;
}
.slide:nth-of-type(1) {
  /*background: red;*/
}
.slide:nth-of-type(2) {
  /*background: orange;*/
}
.slide:nth-of-type(3) {
  /*background: green;*/
}
.slide:nth-of-type(4) {
  /*background: grey;*/
}
.slide:nth-of-type(5) {
  /*background: purple;*/
}

.screenshot {
  width: 250px;
  height: 100px;
}
img {
  width: 100%;
  height: 100%;
}
