


.slide-container {
  width: 30%;
  float: left;
}
.
div>span {
  /*display: inline-block;*/
  text-align: center;
  width: 90%;
  /*margin-left: 3%;*/
  font: 5vw Georgia;
  /*margin-left: 2%;*/
  text-transform: capitalize;;
  text-decoration: none;
}
h1, p {
  width: 20%;
  margin: 0 auto;
}

.clearfix {
  clear: both;
}
#slides {
  position: relative;
  width: 60vw;
  height: 23vw;
  padding: 0px;
  margin: 0.5vw auto;
  list-style-type: none;

}
.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  font-size: 40px;
  /*padding: 10px;*/
  background: #808080;
  box-sizing: border-box;
  background: #333;
  color: #fff;

  -webkit-transition: opacity 4s;
  -moz-transition: opacity 4s;
  -o-transition: opacity 4s;
  transition: opacity 4s;
}
.showing {
  opacity: 1;
  z-index: 2;
}
.slide:nth-of-type(1) {
  /*background: red;*/
}
.slide:nth-of-type(2) {
  /*background: orange;*/
}
.slide:nth-of-type(3) {
  /*background: green;*/
}
.slide:nth-of-type(4) {
  /*background: grey;*/
}
.slide:nth-of-type(5) {
  /*background: purple;*/
}
.projectbox {
  display: inline-block;
  width: 50%;
  float: left;
}
img {
  width: 100%;
  height: 100%;
}
