/*   #### Pallette:
   ### start
##  pale-cream:  #f7ffe0
##  grey: #818d92
##  brown: #483d03
## sea-green: #9abd97
## pale-mint-green: #b6d7b9

####  second
## black: #272727
## pale-blue: #d7dedc
## pumpkin: #e28413
## faded-red: #ff4242
## bright-blue: #274690

*/


* {
  box-sizing: border-box;
  outline: 1px grey solid;
}
body {
  width: 100%;
  background-color: #d7dedc;
  color: #272727;
}
header {
  background-color: #ff4242;
  width: 92vw;
  margin: 1.5vw auto;
  height: 10vw;
}
main {
  width: 92vw;
  margin: 0 auto;
}
header div {
  padding: 2vw 1vw;
  display: inline-block;
  width: 25vw;
}
.logo-container {
  margin: 1vw 0;
  width: 40vw;
  font-family:'Cinzel', serif;
  font-size: 3.5vw;
  text-transform: capitalize;;
  text-decoration: none;
  text-align: center;
}
.me-container {

}
header li {
  display: inline-block;
  font-size: 2vw;
  margin-left: 2vw;
}
.project-container {
  display: inline-block;
  float: left;
  height: 15vw;
  width: 45vw;
  margin-top: 4vw;
  background: #ff4242;
  text-transform: capitalize;
}
.project-name {
  text-transform: capitalize;
  font-size: 2vw;
}
.left {
  margin-right: 1vw;
}
.right {
  margin-left: 1vw;
}
main span {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 5% 0;
}
.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    font-size: 1em;
    display: none;
    position: absolute;
    top: 4vw;
    left: 2vw;
    background-color: #d7dedc;
    width: 90%;
    border: 1px solid #274690;
    /*border-radius: 10px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 2px 5px;
}
.dropdown-content li {
  display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
#fitomatic {
  background: white;
}
#fitomatic img{
  margin-left: 7.5vw;
  margin-top: 3.5vw;
}
#fitomatic img:nth-child(2) {
  height: 5.5vw;
  width: 10vw;
}
#dronestrike {
  background: #272727;
}
#dronestrike a {
  font-family: 'Orbitron', sans-serif;
  color: red;
}
#dronestrike img {
  margin-left: 15vw;
  width: 12vw;
  height: 5vw;
}
