/*   #### Pallette:

##  pale-cream:  #f7ffe0
##  grey: #818d92
##  brown: #483d03
## sea-green: #9abd97
## pale-mint-green: #b6d7b9 */

* {
  box-sizing: border-box;
  outline: 1px grey solid;
}
body {
  width: 100%;
  background-color: #f7ffe0;
  color: #483d03;
}
header {
  background-color: #b6d7b9;
  width: 92%;
  margin: 1.5vw auto;
  height: 10vw;
}
main {
  width: 92%;
  margin: 0 auto;
}
header div {
  padding: 2vw 1vw;
  display: inline-block;
  width: 30%;
}
.logo-container {
  /*height: 10vw;*/
  font-family:'Cinzel', serif;
  font-size: 3vw;
  text-transform: capitalize;;
  text-decoration: none;
}
li {
  display: inline-block;
  font-size: 2vw;
  text-align: center;
}
.project-container {
  display: inline-block;
  float: left;
  height: 15vw;
  width: 45vw;
  margin: .5vw .25vw;
  background: #9abd97;
}
main span {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 5% 0;
}
