* {
  /*outline: 1px solid green;*/
}
body {
  color: rgba(20, 20, 20, 1);
  font-family: 'Advent Pro', sans-serif;
  width: 100%;
}
#container {
  background: url("../img/susitna.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 80%;
  height: 80%auto;
  margin: 10% auto;
}
header {
  height: 4em;
  margin: 0;
  width: 80%;
  margin: 0 auto;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, .5);
}
#headA {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, .5);
  height: 100%;
  text-align: center;
  display: inline-block;
  width: 50%;
  float: left;
}
#headB {
  height: 100%;
  text-align: center;
  display: inline-block;
  width: 50%;
  float: left;
}

header a {
  text-decoration: none;
  display: inline-block;
  margin: 0 10%;
}
aside {
  min-height: 1px;
  width: 10%;
  float: left;
  background-color: rgba(255, 255, 255, .5);
}
main {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  width: 80%;
  float: left;
  font-size: 2em;
}
section {
  background-color: rgba(255, 255, 255, .5);
  min-height: 10%;
}
nav {
  background-color: rgba(255, 255, 255, .5);
  color: rgba(0, 0, 0, 0.5);
  width: 10%;
  float: left;
}

img {
  display: block;
  margin: 1.2em auto;
}

@media all and (orientation: portrait) {
  /*  styles for portrait/upright screen*/

}
@media all and (orientation: landscape) {
  /* styles for landscape screen */

}
