@import "layout/reset.scss";
@import "layout/main.scss";

@import "components/header.scss";
@import "components/links.scss";

@import "pages/projects.scss";
@import "pages/contacts.scss";



section {
  min-height: 1vw;
  width: 27vw;
  float: left;
}
span {
  letter-spacing: .2em;
  text-transform: capitalize;
  display: inline-block;
  margin-bottom: .2em;
  width: 100%;
  font-size: 2.8vw;
  font-weight: 900;
}

p {
  margin: 1vw 0;
  color: rgba(158, 158, 158, 1.0);
  font-size: 1.6em;
  padding-top: .2em;
}
.me {
  width: 23vw;
  float: right;
  height: 27vw;
}
img {
  width: 100%;
}
footer {
  clear: both;
  width: 81vw;
  margin: 15em auto 0;
}
.table {
  display: table;
  margin: 0 auto;
}
footer ul {
  min-width: 696px;
  list-style: none;
}
footer li {
  display: inline;
  /*padding-left: 2%;*/
  margin-left: 20%;
  font-size: 1.5em;
}

.menu-on,.menu-off {
  display: none;
}

#toggle-menu {
  display: none;
}


@media only screen and (max-width: 1060px) {
  header h3 {
    display: none;
  }
  .menu-on {
    display: block;
    background: #000;
    color: #fff;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1001;
    padding: 10px;
  }
  .menu-off {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: none;
  }
  .primary-nav {
    background-color: #000;
    position: fixed;
    right: 0;
    top: 0;
    min-width: 200px;
    z-index: 1002;
    display: none;
  }
  .primary-nav li {
    color: #fff;
    display: block;
    padding: 2px 2px;
  }


  #toggle-menu:checked ~.primary-nav {
    display: block;
  }
  #toggle-menu:checked ~ .menu-off {
    display: block;
  }
}
@media screen and (min-width: 500px) {
  .menu-on, .menu-off {
    display: none;
  }
  .primary-nav {
    display: block;
    position: static;
  }
  .primary-nav li {
    display: block;
  }
}
